src/main/mule/user-books-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="user-books-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="user-books-api-config" api="user-books-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="user-books-api-main">
        <http:listener config-ref="user-books-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="user-books-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="user-books-api-console">
        <http:listener config-ref="user-books-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="user-books-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\user-books:application\json:user-books-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Book added."
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\user-books\(userID):user-books-api-config">
        <ee:transform doc:name="Transform Message" doc:id="36519c45-90bd-45c5-b4f9-894a2ccb812e">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    userID: randomInt(5),
    bookAuthor: "Rebecca Yarros",
    bookTitle: "FOURTH WING",
    bookIsbn10: "1649374046",
    bookPublisher: "Red Tower"
  }, 
  {
    userID: randomInt(5),
    bookAuthor: "John Grisham",
    bookTitle: "THE EXCHANGE",
    bookIsbn10: "0385548958",
    bookPublisher: "Doubleday"
  }, 
  {
    userID: randomInt(5),
    bookAuthor: "Hannah Grace",
    bookTitle: "ICEBREAKER",
    bookIsbn10: "1668026031",
    bookPublisher: "Atria"
  },
  {
  	userID: randomInt(5),
    bookAuthor: "Leo Tolstoy",
    bookTitle: "Boyhood",
    bookIsbn10: "",
    bookPublisher: ""
   },
   {
   	userID: randomInt(5),
    bookAuthor: "James Blish",
    bookTitle: "Cities in Flight",
    bookIsbn10: "",
    bookPublisher: ""
   },
   {
   	userID: randomInt(5),
    bookAuthor: "Cherie Priest",
    bookTitle: "Boneshaker",
    bookIsbn10: "",
    bookPublisher: ""
   },
   {
   	userID: randomInt(5),
    bookAuthor: "G.B. Brulte",
    bookTitle: "Becoming Quetzalcoatl",
    bookIsbn10: "",
    bookPublisher: ""
   },
   {
   	userID: randomInt(5),
    bookAuthor: "Adriel Seibert",
    bookTitle: "Hidden Secrets and the Door of Windows",
    bookIsbn10: "",
    bookPublisher: ""
   }
  
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload filter ($.userID == attributes.uriParams.userID as Number)]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\user-books:user-books-api-config">
		<ee:transform doc:name="Transform Message" doc:id="b897e3b6-aa08-414a-ae35-b45a71b6430b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[
  {
    userID: randomInt(5),
    bookAuthor: "Rebecca Yarros",
    bookTitle: "FOURTH WING",
    bookIsbn10: "1649374046",
    bookPublisher: "Red Tower"
  }, 
  {
    userID: randomInt(5),
    bookAuthor: "John Grisham",
    bookTitle: "THE EXCHANGE",
    bookIsbn10: "0385548958",
    bookPublisher: "Doubleday"
  }, 
  {
    userID: randomInt(5),
    bookAuthor: "Hannah Grace",
    bookTitle: "ICEBREAKER",
    bookIsbn10: "1668026031",
    bookPublisher: "Atria"
  },
  {
  	userID: randomInt(5),
    bookAuthor: "Leo Tolstoy",
    bookTitle: "Boyhood",
    bookIsbn10: "",
    bookPublisher: ""
   },
   {
   	userID: randomInt(5),
    bookAuthor: "James Blish",
    bookTitle: "Cities in Flight",
    bookIsbn10: "",
    bookPublisher: ""
   },
   {
   	userID: randomInt(5),
    bookAuthor: "Cherie Priest",
    bookTitle: "Boneshaker",
    bookIsbn10: "",
    bookPublisher: ""
   },
   {
   	userID: randomInt(5),
    bookAuthor: "G.B. Brulte",
    bookTitle: "Becoming Quetzalcoatl",
    bookIsbn10: "",
    bookPublisher: ""
   },
   {
   	userID: randomInt(5),
    bookAuthor: "Adriel Seibert",
    bookTitle: "Hidden Secrets and the Door of Windows",
    bookIsbn10: "",
    bookPublisher: ""
   }
  
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
